DATABASE_URL="postgresql://postgres:postgres@localhost:5432/skalvi"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-openssl-rand-base64-32"
ADMIN_EMAIL="admin@skalvi.com"
ADMIN_PASSWORD="ChangeMeStrongly123!"
